*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    transition: all 0.3s ease;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    background-image: radial-gradient(circle, #ffffff, #fefefe, #fefefe, #fdfdfd, #fcfcfc, #fbfbfb, #fbfbfb, #fafafa, #f9f9f9, #f8f8f8, #f7f7f7, #f6f6f6);
    // background-image: radial-gradient(circle, #ffffff, #fbfafc, #f7f6fa, #f2f1f7, #eeedf5, #edecf4, #edecf4, #ecebf3, #efeef4, #f1f0f4, #f4f3f5, #f6f6f6);
    // background-image: linear-gradient(to right, #6bd1c8, #3dc8d6, #00bee4, #00b1ef, #43a1f3, #7395f1, #9b86e8, #bc75d5, #db68be, #f05da1, #fa5980, #fb5f5f);
    // background-image: linear-gradient(to right top, #6bd1c8, #3dc8d6, #00bee4, #00b1ef, #43a1f3, #7395f1, #9b86e8, #bc75d5, #db68be, #f05da1, #fa5980, #fb5f5f);
    // background-image: linear-gradient(to left top, #1d1b43, #56235b, #932461, #c93154, #ed5736);
    // background-image: linear-gradient(to top, #1d1b43, #56235b, #932461, #c93154, #ed5736);
    // background-image: linear-gradient(to right top, #1d1b43, #322666, #4e2e8a, #7133ac, #9932cc);
    height: 100%;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    padding: 1%;
}

h3{
    font-size: 35px;
    color: #6395EB;
    font-weight: normal;
    text-align: center;
}

hr{
    width: 60%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    opacity: 0.2;
}

section{
    // margin-top: 5%;
    margin-bottom: 5%;
}

.sect{
    margin-top: 5%;
    padding-bottom: 2%;
    padding-left: 8%;
    padding-right: 8%;
}

.skills{
    img{
        position: absolute;
        opacity: 0.4;
        filter: drop-shadow(5px 5px 10px #000);
    }
    .sk1{
        right: 70%;
        top: 30%;
    }
    .sk2{
        right: 20%;
        top: 40%;
    }
    .sk3{
        right: 90%;
        top: 70%;
    }
    .sk4{
        right: 30%;
        top: 30%;
    }
    .sk5{
        right: 10%;
        top: 10%;
    }
    .sk6{
        right: 60%;
        top: 65%;
    }
    .sk7{
        right: 50%;
        top: 75%;
    }
    .sk8{
        right: 20%;
        top: 75%;
    }
    .sk9{
        right: 80%;
        top: 25%;
    }
}

header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 300;
    a{
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 1%;
        padding-bottom: 1%;
        color: #1D1B43;
    }
    nav{
        // background-image: linear-gradient(to right, #1d1b43, #322666, #4e2e8a, #7133ac, #9932cc);
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            font-family: 'Amatic SC', cursive;
            font-size: 35px;
            // background-color: #1D1B43;
            color: #304c7b;
        }
        .enlaces{
            width: 80%;
            text-align: right;
            .menu{
                color: #304c7b;
                font-size: 25px;
                cursor: pointer;
                display: none;
            }
        }
        .enlaces a{
            text-decoration: none;
            font-size: 14px;
            color: #304c7b;
            &:hover{
                color: #ADD8C7;
            }
        }
    }
}

.description{
    transition: all 0.3s ease;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    // align-items: center;
    justify-content: center;
    // padding-bottom: 10rem;
    h1{
        font-size: 65px;
        font-weight: normal;
        color: #7A6EFF;
    }
    h2{
        font-size: 45px;
        color: #6395EB;
        font-weight: normal;
    }
    p{
        padding: 5%;
        max-width: 600px;
        margin: auto;
        text-align: center;
        color: #161331;
        line-height: 1.8;
    }
    a{
        color: #161331;
        // margin-top: 25px;
        padding: 15px;
        border-width: 4px;
        border-style: solid;
        border-image: linear-gradient(to left top, #1d1b43, #56235b, #932461, #c93154, #ed5736) 1;
        -webkit-box-shadow: 0px 5px 31px -13px #000000; 
        box-shadow: 0px 5px 31px -13px #000000;
        &:hover{
            border-image: linear-gradient(to right, #9932cc, darkblue) 1;
            i{
                transition: all 0.3s eas;
                -moz-transform: translate(0px, 6px);
                -webkit-transform: translate(0px, 6px);
                -o-transform: translate(0px, 6px);
                -ms-transform: translate(0px, 6px);
                transform: translate(0px, 6px);
            }
        }
    }
}

.about{
    padding: 8%;
    text-align: center;
    p{
        max-width: 700px;
        margin: auto;
        line-height: 1.8;
        text-align: justify;
        color: #161331;
    }
    .skill{
        width: 80%;
        margin: auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;
        text-align: left;
        .content-skill{
            padding: 1%;
            padding-top: 2%;
            padding-bottom: 2%;
        }
    }
}

.proyectos{
    .content{
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            &:hover{
                img{
                    border-image: linear-gradient(to right, darkorchid, darkblue) 1;
                }
                .visit{
                    opacity: 1;
                    margin-top: -270px;
                    visibility: visible;
                }
            }
            img{
                max-width: 100%;
                -webkit-box-shadow: 0px 5px 31px -13px #000000; 
                box-shadow: 0px 5px 31px -13px #000000;
                border-width: 4px;
                border-style: solid;
                border-image: linear-gradient(to left top, #1d1b43, #56235b, #932461, #c93154, #ed5736) 1;
            }
            .visit{
                background-image: linear-gradient(to right, darkorchid, darkblue);
                position: absolute;
                margin-top: -100px;
                opacity: 0;
                visibility: hidden;
                max-width: 200px;
                margin: auto;
                margin-top: 2%;
                // background-color: #1d1b43;
                padding: 1.5%;
                text-align: center;
                -webkit-box-shadow: 0px 5px 31px -13px #000000; 
                box-shadow: 0px 5px 31px -13px #000000;
            }
            .name{
                position: relative;
                top: -120px;
                right: 2%;
                width: 200px;
                height: 70px;
                font-size: 25px;
                color: #ffffff;
                background-color: #c93154;
                padding: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                -webkit-box-shadow: 0px 5px 31px -13px #000000; 
                box-shadow: 0px 5px 31px -13px #000000;
                &::before{
                    content: "";
                    width: 20px;
                    height: 20px;
                    background-color: #671743;
                    position: relative;
                    top: -34px;
                    left: -8px;
                    -moz-transform: rotate(140deg);
                    -webkit-transform: rotate(401deg);
                    -o-transform: rotate(140deg);
                    -ms-transform: rotate(140deg);
                    transform: rotate(140deg);
                    z-index: -200;
                }
            }
        }
    }
}

.prototipos{
    padding: 0;
    svg{
        width: 100%;
        position: relative;
        bottom: -25px;
        z-index: -10;
        // filter: drop-shadow(0px 30px 28px #000);
        filter: drop-shadow(0px 49px 28px #000);
    }
    .content{
        width: 100%;
        background-color: #ffffff;
        display: flex;
        align-items: stretch;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .box-1, .box-2{
            width: 45%;
            margin: auto;
            img{
                width: 100%;
                -webkit-box-shadow: 0px 5px 31px -13px #000000; 
                box-shadow: 0px 5px 31px -13px #000000;
            }
            p{
                font-size: 25px;
                padding: 2%;
                text-align: center;
                border-radius: 4px;
            }
        }
    }
}

.contact{
    padding-bottom: 15%;
    svg{
        position: relative;
        width: 100%;
        top:-70px;
        z-index: -10;
        filter: drop-shadow(0px -31px 28px #000);
    }
    p{
        font-size: 25px;
        text-align: center;
    }
    .redes{
        width: 50%;
        margin: auto;
        text-align: center;
        a{
            color: #1D1B43;
            font-size: 45px;
            text-decoration: none;
            padding: 12px;
            &:nth-child(1){
                color: #25D366;
            }
            &:nth-child(2){
                color: #0A66C2;
            }
            &:nth-child(3){
                color: #161331;
            }
        }
    }
}

.responsive-menu{
    width: 100%;
    height: 100vh;
    position: fixed;
    // background-image: linear-gradient(to right, #79d9b6, #55b8aa, #3c9899, #2e7883, #275968, #275968, #275968, #275968, #2e7883, #3c9899, #55b8aa, #79d9b6);
    background-image: linear-gradient(to right top, #1d5171, #1e4b67, #1e455e, #1e4055, #1e3a4c, #1c3a4a, #1b3947, #1a3945, #173d48, #13424a, #11464b, #104a4c);
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    a{
        color: #55b8aa;
        font-size: 25px;
        text-align: center;
        cursor: pointer;
    }
}

.responsive-menu-show{
    display: flex !important;
}

footer{
    text-align: center;
    font-size: 25px;
    p{
        color: #1d5171;
    }
}

@media (max-width: 650px){
    header{
        .enlaces{
            .e-1{
                display: none;
            }
            .menu{
                text-align: right;
                display: block !important;
            }
        }
    }
}